<div id="main" class="wrapper">
  <!-- list all books -->
    <% if @data.size == 0 %>
      <p class="no-results">No results found, check your spelling and try again</p>
    <% else %>
      <ul class="book-list">
        <% @data.each do |book| %>
          <li class="book-wrap clearfix">

            <!-- display book cover image and details -->
            <!-- <div class="book-details"> -->
            <div class="book-image left">
              <img class="ui small image" src="<%= book[:image_url] %>" alt="Book cover image">
            </div>
            <div class="book-info left">
              <p class="book-title"><%= book[:title] %></p>
              <p class="book-author">by <%= book[:author] %></p>
              <p class="book-rating">
                <span class="book-rating-avg"><%= book[:average_rating] %> avg rating by</span>
                <span class="book-rating-count"><%= book[:ratings_count] %> users</span>
                <span class="book-publication-date"> &dash; published <%= book[:publication_date] %></span>
              </p>
            </div>
            <!-- </div> -->

            <!-- drop down selection menu -->
            <div class="book-options-menu right">
              <div class="ui selection dropdown">
                <input type="hidden" name="book-shelve">
                <i class="dropdown icon"></i>
                <div class="default text">add book to shelve</div>
                <div class="menu">
                  <div class="item" data-value="2">read</div>
                  <div class="item" data-value="1">reading</div>
                  <div class="item" data-value="0">to read</div>
                </div>
              </div>
            </div>

          </li>
        <% end %>
      </ul>
  <% end %>
</div>
