<div class="main wrapper">
  <!-- list all books -->
    <% if @data.size == 0 %>
      <p class="no-results">No results found, check your spelling and try again</p>
    <% else %>
      <ul class="book-list">
        <% @data.each do |book| %>
          <li class="book-wrap clearfix">

              <div class="book-image left">
                <img class="ui small image" src="<%= book[:image_url] %>" alt="Book cover image">
              </div>
              <div class="book-info left">
                <p class="book-title"><%= book[:title] %></p>
                <p class="book-author">by <%= book[:author] %></p>
                <p class="book-rating">
                  <span class="book-rating-avg"><%= book[:average_rating] %> avg rating by</span>
                  <span class="book-rating-count"><%= book[:ratings_count] %> users</span>
                  <span class="book-publication-date"> &dash; published <%= book[:publication_date] %></span>
                </p>
              </div>

              <div class="book-options-menu right">
                <form class="save-book-form" action="/books" method="post">
                  <input type="hidden" name="goodreads_id" value="<%= book[:goodreads_id] %>">
                  <input type="hidden" name="title" value="<%= book[:title] %>">
                  <input type="hidden" name="author" value="<%= book[:author] %>">
                  <input type="hidden" name="image_url" value="<%= book[:image_url] %>">
                  <input type="hidden" name="publication_date" value="<%= book[:publication_date] %>">
                  <input type="hidden" name="average_rating" value="<%= book[:average_rating] %>">
                  <input type="hidden" name="ratings_count" value="<%= book[:ratings_count] %>">
                  <input type="hidden" name="reviews_count" value="<%= book[:reviews_count] %>">

                  <div class="ui selection dropdown">
                    <input type="hidden" name="book_shelve[name]">
                    <i class="dropdown icon"></i>
                    <div class="default text">add book to shelve</div>
                    <div class="menu">
                      <div class="item" data-value="read">read</div>
                      <div class="item" data-value="reading">reading</div>
                      <div class="item" data-value="to-read">to read</div>
                    </div>
                  </div>

                  <input class="ui button" type="submit" name="submit" value="save">
                </form>
              </div>
          </li>

        <% end %>
      </form>
      </ul>
  <% end %>
</div>
