<div class="main book-template wrapper">

  <%= erb :'/partials/_book_details' %>

  <div class="review-list">
    <h2>Reviews</h2>
    <%
      book_reviews = @book.reviews
      @current_review = book_reviews.find do |review|
        if review.user
          review.user.id == @user.id
        end
      end
    %>
    <div id="review-container">
      <% if @current_review %>
        <%= erb :'/partials/_current_review' %>
      <% else %>
        <%= erb :'/partials/_add_review'%>
      <% end %>
    </div>
    <div class="user-reviews">
      <% if book_reviews.size > 0 %>
        <ul class="review-list">
          <% if !@current_review %>
            <% book_reviews.each do |review| %>
              <% @review = review %>
              <%= erb :'/partials/_book_review' %>
            <% end %>
          <% else %>
            <% book_reviews.each do |review| %>
              <% @review = review %>
              <% if @current_review.id != @review.id %>
                <%= erb :'/partials/_book_review' %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <p id="user-message">Be the first to write a review!</p>
      <% end %>
    </div>
  </div>

  <% if @current_review %>
    <%= erb :'/partials/_edit_review'%>
  <% end %>

</div>
