<div class="main book-template wrapper">
  <div class="book book-show clearfix">
    <div class="book-image left">
      <% if @book.image_url %>
        <img class="ui small image" src="<%= @book.image_url %>" alt="Book cover image">
      <% else %>
        <img class="ui small image" src="/public.imgs/no-image.png" alt="Book cover placeholder image">
      <% end %>
    </div>
    <div class="book-info">
      <p class="book-title"><%= @book.title %></a></p>
      <p class="book-author">by <%= @book.author %></p>
      <p class="book-rating">
        <span class="book-rating-avg"><%= @book.ratings_average %> avg rating by</span>
        <span class="book-rating-count"><%= @book.ratings_count %> users</span>
        <span class="book-publication-date"> &dash; published <%= @book.year_published %></span>
      </p>
    </div>
    <div class="book-description"><%= @book.description %></div>
  </div>

  <div class="review-list">
    <h2>Reviews</h2>
    <%
      book_reviews = @book.reviews
      @current_review = book_reviews.find do |review|
        if review.user
          review.user.id == @user.id
        end
      end
    %>
    <div id="review-container">
      <% if @current_review %>
        <div class="user-review">
          <div class="review-edit-button clearfix">
            <a href="#" class="ui button right edit-review-trigger">edit review</a>
          </div>
          <h3 class="review-author">
            <%= @user.username.capitalize %>&nbsp;
            <span class="review-timestamp"><%= @current_review.created_at.strftime("%b %d, %Y") %></span>
          </h3>
          <p class="book-review"><%= @current_review.content %></p>
        </div>
      <% else %>
        <%= erb :'/partials/_add_review'%>
      <% end %>
    </div>
    <div class="user-reviews">
      <% if book_reviews.size > 0 %>
        <ul class="review-list">
          <% if !@current_review %>
            <% book_reviews.each do |review| %>
              <li class="user-review">
                <h3 class="review-author">
                  <%= review.user.username.capitalize %>&nbsp;
                  <span class="review-timestamp"><%= review.created_at.strftime("%b %d, %Y") %></span>
                </h3>
                <p class="book-review"><%= review.content %></p>
              </li>
            <% end %>
          <% else %>
            <% book_reviews.each do |review| %>
              <% if @current_review.id != review.id %>
                <li class="user-review">
                  <h3 class="review-author">
                    <%= review.user.username.capitalize %>&nbsp;
                    <span class="review-timestamp"><%= review.created_at.strftime("%b %d, %Y") %></span>
                  </h3>
                  <p class="book-review"><%= review.content %></p>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <p id="user-message">Be the first to write a review!</p>
      <% end %>
    </div>
  </div>

  <% if @current_review %>
    <%= erb :'/partials/_edit_review'%>
  <% end %>

</div>
