<div class="main book-template wrapper">
  <div class="book book-show clearfix">
    <div class="book-image left">
      <% if @book.image_url %>
        <img class="ui small image" src="<%= @book.image_url %>" alt="Book cover image">
      <% else %>
        <img class="ui small image" src="/public.imgs/no-image.png" alt="Book cover placeholder image">
      <% end %>
    </div>
    <div class="book-info">
      <p class="book-title"><%= @book.title %></a></p>
      <p class="book-author">by <%= @book.author %></p>
      <p class="book-rating">
        <span class="book-rating-avg"><%= @book.ratings_average %> avg rating by</span>
        <span class="book-rating-count"><%= @book.ratings_count %> users</span>
        <span class="book-publication-date"> &dash; published <%= @book.year_published %></span>
      </p>
    </div>
    <div class="book-description"><%= @book.description %></div>
  </div>

  <div class="review-list">
    <h2>Reviews</h2>
    <%
      book_reviews = @book.reviews
      current_review = book_reviews.find do |review|
        if review.user
          review.user.id == @user.id
        end
      end
      # binding.pry
    %>
    <div id="review-container">
      <% if current_review %>
        <div class="user-review">
          <div class="review-edit-button clearfix">
            <!-- <a class="ui button right" href="/reviews/<%= current_review.id %>/edit" >edit review</a> -->
            <a href="#" class="ui button right edit-review-trigger">edit review</a>
          </div>
          <h3 class="review-author">
            <%= @user.username.capitalize %>&nbsp;
            <% if current_review.rating && current_review.rating > 0 %>
            <span class="book-user-rating">rating: <%= current_review.rating %></span>
            <% end %>
            <span class="review-timestamp"><%= current_review.created_at.strftime("%b %d, %Y") %></span>
          </h3>
          <p class="book-review"><%= current_review.content %></p>
        </div>
      <% else %>
        <div id="review-form-container">
          <div class="ui fluid accordion">
            <div class="title">
              <i class="dropdown icon"></i>
              Add a review
            </div>
            <div class="content">
              <div class="transition hidden" style="display: none !important;">
                <!-- <h3>Add a review</h3> -->
                <form id="review-form" class="ui form review-form" action="/reviews/<%= @user.slug %>/<%= @book.title_slug %>" method="post">

                  <div class="review-field">
                    <textarea id="review" name="review" rows="8" cols="80" required></textarea>
                  </div>

                  <div class="field submit">
                    <input class="ui button" type="submit" name="submit" value="Add review">
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="user-reviews">
      <% if book_reviews.size > 0 %>
        <ul class="review-list">
          <% if !current_review %>
            <% book_reviews.each do |review| %>
              <li class="user-review">
                <h3 class="review-author">
                  <%= review.user.username.capitalize %>&nbsp;
                  <span class="review-timestamp"><%= review.created_at.strftime("%b %d, %Y") %></span>
                </h3>
                <p class="book-review"><%= review.content %></p>
              </li>
            <% end %>
          <% else %>
            <% book_reviews.each do |review| %>
              <% if current_review.id != review.id %>
                <li class="user-review">
                  <h3 class="review-author">
                    <%= review.user.username.capitalize %>&nbsp;
                    <span class="review-timestamp"><%= review.created_at.strftime("%b %d, %Y") %></span>
                  </h3>
                  <p class="book-review"><%= review.content %></p>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <p id="user-message">Be the first to write a review!</p>
      <% end %>
    </div>
  </div>

  <% if current_review %>
    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        <h3><%= current_review.book.title %></h3>
        <h4><%= current_review.book.author %></h4>
      </div>
      <div class="content">
        <%# TODO: add form %>
        <p><%= current_review.content %></p>
      </div>
      <!-- <div class="actions">
        <div class="ui cancel button">close</div>
      </div> -->
    </div>
  <% end %>

</div>
