<div class="main wrapper">
  <div class="book book-show clearfix">
    <div class="book-image left">
      <% if @book.image_url %>
        <img class="ui small image" src="<%= @book.image_url %>" alt="Book cover image">
      <% else %>
        <img class="ui small image" src="/public.imgs/no-image.png" alt="Book cover placeholder image">
      <% end %>
    </div>
    <div class="book-info">
      <p class="book-title"><%= @book.title %></a></p>
      <p class="book-author">by <%= @book.author %></p>
      <p class="book-rating">
        <span class="book-rating-avg"><%= @book.ratings_average %> avg rating by</span>
        <span class="book-rating-count"><%= @book.ratings_count %> users</span>
        <span class="book-publication-date"> &dash; published <%= @book.year_published %></span>
      </p>
    </div>
    <div class="book-description"><%= @book.description %></div>
  </div>

  <div class="review-list">
    <h2>Reviews</h2>
    <%
      book_reviews = @book.reviews
      current_review = book_reviews.find do |review|
        if review.user
          review.user.id == @user.id
        end
      end
    %>
    <div id="review-form-container">
      <% if current_review %>
        <a class="ui button right" href="/reviews/<%= current_review.id %>/edit" >Edit review</a>
        <h3>
          <%= @user.username.capitalize %>&nbsp;
          <% if current_review.rating && current_review.rating > 0 %>
          <span class="book-user-rating">rating: <%= current_review.rating %></span>
          <% end %>
          <span class="review-timestamp"><%= current_review.created_at.strftime("%b %d, %Y") %></span>
        </h3>
        <p class="book-review"><%= current_review.content %></p>
      <% else %>
        <h3>Add a review</h3>
        <form id="review-form" class="ui form review-form" action="/reviews/<%= @user.slug %>/<%= @book.title_slug %>" method="post">

          <div class="review-field">
            <textarea id="review" name="review" rows="8" cols="80" required></textarea>
          </div>

          <div class="field submit">
            <input class="ui button" type="submit" name="submit" value="Add review">
          </div>

        </form>
      <% end %>
    </div>
    <%# TODO: user reviews %>
  </div>

</div>
