<div class="main wrapper">
  <div class="book book-show clearfix">
    <div class="book-image left">
      <img class="ui small image" src="<%= @book.image_url %>" alt="Book cover image">
    </div>
    <div class="book-info">
      <p class="book-title"><%= @book.title %></a></p>
      <p class="book-author">by <%= @book.author %></p>
      <p class="book-rating">
        <span class="book-rating-avg"><%= @book.ratings_average %> avg rating by</span>
        <span class="book-rating-count"><%= @book.ratings_count %> users</span>
        <span class="book-publication-date"> &dash; published <%= @book.year_published %></span>
      </p>
    </div>
    <div class="book-description"><%= @book.description %></div>
  </div>

  <div class="review-list">
    <h2>Reviews</h2>
    <!-- add review button - if no review  -->

    <!-- otherwise add edit review button -->

    <!-- display the user's review first -->
  </div>

</div>
